{% load static %}
<aside class="main-sidebar sidebar-light-white bg-blue-500 elevation-2">
{% if request.user.is_authenticated %}
    {% if request.user.role == 'admin' or request.user.is_superuser %}
    <!-- Brand Logo -->
    <a href="{% url 'accounts:admin_dashboard' %}" class="brand-link bg-primary text-white">
        <img src="{% static 'images/bauet_logo.png' %}" class="brand-image img-circle elevation-3" style="opacity: .9">
        <span class="brand-text font-weight-bold ml-2">Admin Panel</span>
    </a>

    <div class="sidebar">
        <!-- User Panel -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="{{ request.user.profile_pic }}" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">{{ request.user.get_full_name|default:request.user.username }}</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column text-sm" data-widget="treeview">

                <!-- Dashboard -->
                <li class="nav-header">Dashboard</li>
                <li class="nav-item">
                    <a href="{% url 'accounts:admin_dashboard' %}" class="nav-link">
                        <i class="nav-icon fas fa-home"></i>
                        <p>Admin Dashboard</p>
                    </a>
                </li>

                <!-- Hall Management -->
                <li class="nav-header">Hall Management</li>
                <li class="nav-item">
                    <a href="{% url 'admins:register_student' %}" class="nav-link">
                        <i class="nav-icon fas fa-user-plus"></i>
                        <p>Register Student</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'admins:manage_students' %}" class="nav-link">
                        <i class="nav-icon fas fa-users-cog"></i>
                        <p>Manage Students</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'admins:register_manager' %}" class="nav-link">
                        <i class="nav-icon fas fa-user-tie"></i>
                        <p>Register Manager</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'admins:manage_managers' %}" class="nav-link">
                        <i class="nav-icon fas fa-user-cog"></i>
                        <p>Manage Managers</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'admins:register_admin' %}" class="nav-link">
                        <i class="nav-icon fas fa-user-shield"></i>
                        <p>Register Admin</p>
                    </a>
                </li>

                <!-- Meal Management -->
                <li class="nav-header">Meal Management</li>
                <li class="nav-item">
                    <a href="{% url 'students:weekly_menu' %}" class="nav-link">
                        <i class="nav-icon fas fa-utensils"></i>
                        <p>Weekly Menu</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'managers:monthly_summary' %}" class="nav-link">
                        <i class="nav-icon fas fa-chart-line"></i>
                        <p>Meal Cost Summary</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'managers:create_special_request' %}" class="nav-link">
                        <i class="nav-icon fas fa-plus"></i>
                        <p>Create Special Meal Request</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'students:reviews_list' %}" class="nav-link">
                        <i class="nav-icon fas fa-star-half-alt"></i>
                        <p>Meal Reviews</p>
                    </a>
                </li>

                <!-- Poll Management -->
                <li class="nav-header">Polls</li>
                <li class="nav-item">
                    <a href="{% url 'votes:poll_list' %}" class="nav-link">
                        <i class="nav-icon fas fa-poll"></i>
                        <p>Poll Management</p>
                    </a>
                </li>

                <!-- Complaints -->
                <li class="nav-header">Complaints</li>
                <li class="nav-item">
                    <a href="{% url 'admins:view_complaints' %}" class="nav-link">
                        <i class="nav-icon fas fa-comment-dots"></i>
                        <p>View Complaints</p>
                    </a>
                </li>


                <!-- Profile -->
                <li class="nav-header">Account</li>
                <li class="nav-item">
                    <a href="{% url 'admins:admin_profile' %}" class="nav-link">
                        <i class="nav-icon fas fa-user-circle"></i>
                        <p>View Profile</p>
                    </a>
                </li>


                <!-- Logout -->
                <li class="nav-item mt-3">
                    <form method="post" action="{% url 'accounts:logout' %}" 
                        onsubmit="return confirm('Your session will be terminated.\n\nProceed?')">
                        {% csrf_token %}
                        <button type="submit" 
                                class="nav-link d-flex justify-content-start align-items-center bg-danger text-white w-100" 
                                style="border: none; padding-left: 55px;">
                            <i class="nav-icon fas fa-sign-out-alt mr-2"></i>
                            <span>Log Out</span>
                        </button>
                    </form>
                </li>

            </ul>
        </nav>
    </div>

                    
    {% elif request.user.role == 'manager' %}
    <!-- Brand Logo -->
    <a href="{% url 'home' %}" class="brand-link bg-primary text-white">
        <img src="{% static 'images/bauet_logo.png' %}" class="brand-image img-circle elevation-3" style="opacity: .9">
        <span class="brand-text font-weight-bold ml-2">Manager Panel</span>
    </a>

    <div class="sidebar">
        <!-- User Panel -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="{{ request.user.student.studentdetails.profile_picture }}" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">{{ request.user.get_full_name|default:request.user.username }}</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column text-sm">

                <!-- Dashboard -->
                <li class="nav-header">Dashboard</li>
                <li class="nav-item">
                    <a href="{% url 'home' %}" class="nav-link">
                        <i class="nav-icon fas fa-home"></i>
                        <p>Manager Dashboard</p>
                    </a>
                </li>

                <!-- Actions -->
                <li class="nav-header">Actions</li>

                <li class="nav-item">
                    <a href="{% url 'managers:propose_weekly_menu' %}" class="nav-link">
                        <i class="nav-icon fas fa-utensils"></i>
                        <p>Propose Weekly Menu</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="{% url 'managers:manager_requests_list' %}" class="nav-link">
                        <i class="nav-icon fas fa-concierge-bell"></i>
                        <p>Pending Special Requests
                            {% if pending_count %} 
                                <span class="badge badge-info right">{{ pending_count }}</span>
                            {% endif %}
                        </p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="{% url 'managers:search_students_by_room' %}" class="nav-link">
                        <i class="nav-icon fas fa-ticket-alt"></i>
                        <p>Issue Meal Tokens</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="{% url 'managers:daily_token_summary' %}" class="nav-link">
                        <i class="nav-icon fas fa-clipboard-list"></i>
                        <p>Daily Token Summary</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="{% url 'managers:monthly_summary' %}" class="nav-link">
                        <i class="nav-icon fas fa-chart-bar"></i>
                        <p>Monthly Summary</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="{% url 'votes:poll_list' %}" class="nav-link">
                        <i class="nav-icon fas fa-poll"></i>
                        <p>Poll Management</p>
                    </a>
                </li>

                <!-- Account -->
                <li class="nav-header">Account</li>
                <li class="nav-item">
                    <a href="{% url 'managers:manager_profile' %}" class="nav-link">
                        <i class="nav-icon fas fa-user-circle"></i>
                        <p>View Profile</p>
                    </a>
                </li>

                <!-- Logout -->
                <li class="nav-item mt-3">
                    <form method="post" action="{% url 'accounts:logout' %}" onsubmit="return confirm('Your session will be terminated.\n\nProceed?')">
                        {% csrf_token %}
                        <button type="submit" class="nav-link d-flex justify-content-start align-items-center bg-danger text-white w-100" style="border: none; padding-left: 55px;">
                            <i class="nav-icon fas fa-sign-out-alt mr-2"></i>
                            <span>Log Out</span>
                        </button>
                    </form>
                </li>

            </ul>
        </nav>
    </div>
            
        {% elif request.user.role == 'student' %}
        <!-- ====================== STUDENT SIDEBAR ====================== -->
        <a href="{% url 'home' %}" class="brand-link bg-blue-800 text-white">
            <img src="{% static 'images/bauet_logo.png' %}" 
                class="brand-image img-circle bg-green-800 elevation-3" 
                style="opacity: .9">
            <span class="brand-text font-weight-bold ml-2">STUDENT PANEL</span>
        </a>

        <div class="sidebar">
            <!-- Student Profile -->
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image">
                    {% if request.user.student.studentdetails.profile_picture %}
                        <img src="{{ request.user.student.studentdetails.profile_picture.url }}" 
                            class="img-circle elevation-2 border border-white" 
                            alt="Student Image">
                    {% else %}
                        <img src="{% static 'images/default_user.png' %}" 
                            class="img-circle elevation-2 border border-white" 
                            alt="Default Image">
                    {% endif %}
                </div>
                <div class="info">
                    <a href="#" class="d-block text-white font-bold">{{ request.user.get_full_name|default:request.user.username }}</a>
                </div>
            </div>

            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column text-sm">

                    <li class="nav-header text-white text-uppercase font-semibold">Dashboard</li>
                    <li class="nav-item">
                        <a href="{% url 'home' %}" class="nav-link text-white">
                            <i class="nav-icon fas fa-home"></i>
                            <p>Home</p>
                        </a>
                    </li>

                    <li class="nav-header text-white text-uppercase font-semibold">Meals</li>
                    <li class="nav-item">
                        <a href="{% url 'students:my_meal_status' %}" class="nav-link text-white">
                            <i class="nav-icon fas fa-toggle-on"></i>
                            <p>Change Daily Meal Status</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'students:my_meal_preference' %}" class="nav-link text-white">
                            <i class="nav-icon fas fa-exchange-alt"></i>
                            <p>Change Monthly Meal Type</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'students:meal_history' %}" class="nav-link text-white">
                            <i class="nav-icon fas fa-wallet"></i>
                            <p>Meal Cost & History</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'students:weekly_menu' %}" class="nav-link text-white">
                            <i class="nav-icon fas fa-utensils"></i>
                            <p>Weekly Menu</p>
                        </a>
                    </li>

                    <li class="nav-header text-white text-uppercase font-semibold">Support</li>
                    <li class="nav-item">
                        <a href="{% url 'students:submit_complaint' %}" class="nav-link text-white">
                            <i class="nav-icon fas fa-comment-dots"></i>
                            <p>Submit a Complaint</p>
                        </a>
                    </li>

                    <li class="nav-header text-white text-uppercase font-semibold">Account</li>
                    <li class="nav-item">
                        <a href="{% url 'students:profile' %}" class="nav-link text-white">
                            <i class="nav-icon bi-person-circle me-2"></i>
                            <p>View Profile</p>
                        </a>
                    </li>

                    <li class="nav-item mt-3">
                        <form method="post" action="{% url 'accounts:logout' %}" 
                            onsubmit="return confirm('Your session will be terminated.\n\nProceed?')">
                            {% csrf_token %}
                            <button type="submit" 
                                class="nav-link d-flex justify-content-start align-items-center bg-danger text-white w-100" 
                                style="border: none; padding-left: 55px;">
                                <i class="nav-icon fas fa-sign-out-alt mr-2"></i>
                                <span>Log Out</span>
                            </button>
                        </form>
                    </li>
                </ul>
            </nav>
        </div>

    {% else %}
                    
        <p>Unauthorized or unknown role.</p>

            
    {% endif %}

{% else %}
    <p>Please <a href="{% url 'accounts:login' %}">log in</a> to access this page.</p>

{% endif %}

<!-- /.sidebar -->
</aside>
